
.List__titulo
{
    text-align: center;
}

.List__background{
    background-image: linear-gradient(#5A061D, #ffc6d2,#5A061D);
    min-height: 100vh;
}
.List__pagging{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#5A061D, #ffc6d2,#5A061D);
}

