.app{
    background-image: none;
}

.HeroCard_h2{
    color: #5A061D;
    text-align: center;
    border-style: double;
    background-color: white;
    padding: 0;
}

.List__titulo
{
    text-align: center;
}

.List__background{
    background-color:#fff6f8;
    min-height: 100vh;
}