

.appNav_search{
    display: flex;
    float:right;
}


.NavColor{
    background-color: '#5A061D';
}

.AppNav_Marvel{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;

}


