.app{
    background-image: none;
}

.HeroCard_h2{
    color: black;
    text-align: center;
    padding: 30px 0px 0px;
    
}

.List__titulo
{
    text-align: center;
}

.HeroDescription__image{
    border-color: black;
    border: solid 3px
}